* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: $font;
}

.wrapper {
  flex: 1 0 auto;
  background: linear-gradient(getColor(lightgrey), getColor(darkgrey));
}
