footer {
  border-top: 1px solid getColor(lightgrey);
  padding: 1%;
}

.footer_container {
  display: flex;
}

.footer_item-p {
  font-size: 1rem;
}
.footer_item {
  margin-left: 1%;

  & a {
    text-decoration: none;
    color: getColor(burgundy);
    font-size: 1.5rem;
  }
}

.footer_item {
  font-size: 2rem;
}

.footer_link-btn {
  color: getColor(lightgrey);
  font-size: 1.2rem;
  border-radius: 20px;
  border: none;
  background: getColor(green);
  padding: 10px;
}
